@model Apartment.Models.Contract

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Contract</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ContractId" />
        <div class="form-group">
            <label asp-for="CustomerId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RoomId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select id="ddlRooms" asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId" onchange="GetPriceByMonth()"></select>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="EngageMonth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input id="txtMonth" asp-for="EngageMonth" class="form-control" onchange="GetPriceByMonth()" />
                <span asp-validation-for="EngageMonth" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BeginDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BeginDate" class="form-control" />
                <span asp-validation-for="BeginDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContractValue" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input id="txtValue" asp-for="ContractValue" class="form-control" />
                <span asp-validation-for="ContractValue" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        function GetPriceByMonth() {
            var roomid = $('#ddlRooms').find('option:selected').attr('value');
            var month = document.getElementById('txtMonth').value;
            if (month) {
                $.ajax({
                    type: "GET",
                    url: "/Rooms/GetPriceAreaByRoomType/" + roomid,//lay ve gia theo id=>obj.
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (obj) {
                        if (obj) {
                            document.getElementById("txtValue").value = month * (obj.price);
                        }
                    }
                });
            }
        }
    </script>
    }